* {
    text-align: center;
    font-family: Helvetica, sans-serif;
}
h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}
#menu {
    color: rgb(88,89,91);
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#menu a {
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color:black
}
#now {
    font-weight: bold;
}
img {
    width: 90%;
}